/* --- 全体 --- */
html,body {
	padding: 0px;
	background-color: #fcfcfc;
	width: 98%;
	height: 98%;
}

/* コンテナ */
div#container {
	width: 100%;
	height: 100%;
	margin: 0 auto; /* センタリング */
	overflow:hidden;
}

/* ヘッダー */
div#header {
	display: table;
	background-color: #fcfcfc;
	width: 100%;
	height: 12%;
	clear: both;
}

div#LaTeX {
	display: table;
	background-color: #fcfcfc;
	width: 100%;
	height: 12%;
	clear: both;
}

div#subLaTeX {
	display: table;
	background-color: #fcfcfc;
	width: 100%;
	height: 12%;
	clear: both;
}

div#inner1 {
	display: table;
	background-color: #fcfcfc;
	width: 100%;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}

div#inner2 {
	display: table;
	background-color: #fcfcfc;
	width: 100%;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	font-size: 1.0em;
}

/* フッター */
div#footer {
	display: table;
	background-color: #555555;
	width: 100%;
	height: 12%;
	clear: both;
}

/* URL */
div#url {
	display: table;
	background-color: #fcfcfc;
	width: 100%;
	height: 12%;
	clear: both;
}
